<!DOCTYPE html>
<html lang='en'>
<head>
<title>Home | A Visualization System Prototype of Security Monitoring Product</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style.css")'>

<script src='@routes.Assets.at("javascripts/d3.v3.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
<script src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
<script src='@routes.Assets.at("javascripts/vue.min.js")'></script>

</head>
<body id='table'>
<div class='container'>
<div class="col-sm-12 col-md-12">
<h1>An Integrated Version of Security Monitor Vis System</h1>
<p></p>
</div>
</div>

<br>

<div class='container'>
<div class="col-sm-12 col-md-12">
<h3>SENSOR PART</h3>
</div>
<div class="col-sm-12 col-md-4">
<div class="panel panel-card people-panel">
<div class="panel-title">
<h5 class="no-margin m-b">People</h5>
</div>
<div class="panel-body">
<div id="sensor-moni-text" style="height:250px;">
<h1 id=“kpi-value”></h1>
</div>
</div>
</div>
</div>

<div class='col-sm-12 col-md-8'>
<div class="panel panel-card">
<div class="panel-title">
<h5 class='no-margin m-b'>Sensor Memory Monitor</h5>
</div>
<div class="panel-body">
<div id="sensor-mem-area-d3" style="height:270px;"></div>
</div>
</div>
</div>




<div class='col-sm-12 col-md-12'>
<div class="panel panel-card">
<div class="panel-title">
<h5 class='no-margin m-b'>Sensor People Counting Monitor</h5>
</div>
<div class="panel-body">
<div id="sensor-count-multi-d3" style="height:400px;"></div>
</div>
</div>
</div>
</div>

<div class='container'>
<div class="col-sm-12 col-md-12">
<h3>DOCKER PART</h3>
</div>

<div class='col-sm-12 col-md-4'>
<div class="panel panel-card">
<div class="panel-title">
<h5 class='no-margin m-b'>Docker CPU Monitor</h5>
</div>
<div class="panel-body">
<div id="docker-cpu-rect-d3" style="height:280px;"></div>
</div>
</div>
</div>

<div class='col-sm-12 col-md-8'>
<div class="panel panel-card">
<div class="panel-title">
<h5 class='no-margin m-b'>Sensor Memory Monitor</h5>
</div>
<div class="panel-body">
<div id="docker-mem-area-d3" style="height:280px;"></div>
</div>
</div>
</div>

</div>

<div class='container'>
<div class="col-sm-12 col-md-12">
<h3>EXPERIMENT LAB</h3>
</div>
<div class="col-sm-12 col-md-12">
<div class="panel panel-card">
<div class='panel-title'>
<h5 class='no-margin m-b'></h5>
</div>
<div class="panel-body">
<p><a href="three-test-cubes.html">Three Cubes Test</a> Use mesh to test cube's display in Three.js.</p>
<p><a href="three-test-texture.html">Three Texture Test</a> Use a map picture to test the effect of Three.js texture, combined with texture both on ground and particleSystem.</p>
<p><a href="three-test-index.html">Three Particles and Index Test</a> Simulate lots of particles to test the data updating and animation styles in Three.js.</p>
<p><a href="css3d-test-people.html">CSS 3D People Monitor Test</a> Use pure CSS 3D Stylesheets and JavaScript to simulate the 3D space (such as webgl tech) effect.</p>
</div>
</div>
</div>

</div>

<div class='container'>
<div class="col-sm-12 col-md-12">
<h3>COMMENTS</h3>
</div>
<div class="col-sm-12 col-md-12">
<div class="panel panel-card">
<div class="panel-title">
<h5 class='no-margin m-b'></h5>
</div>
<div class="panel-body">
<div class="ds-thread" data-thread-key="ss-vis-component" data-url="http://hijiangtao.github.io/ss-vis-component" data-title="Home | A Visualization System Prototype of Security Monitoring Product" ></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"datablog"};
(function() {
var ds = document.createElement('script');
ds.type = 'text/javascript';ds.async = true;
ds.src = 'http://static.duoshuo.com/embed.js';
ds.charset = 'UTF-8';
(document.getElementsByTagName('head')[0]
|| document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
</div>
</div>
</div>
</div>

<div class='container'>
<div class="col-sm-12 col-md-12">
<hr style='border: 1px solid white'>
<footer>
<p>
</p>
</footer>
</div>
</div>



<script type="text/javascript">
  //GET HBASE INTERFACE TEST DATA
  alert("123");
  $.get("/echarts/demodata").done(function(data) {
    alert("data.userLabelId");
    $("#kpi-value".val(data.userLabelId));
  };
</script>

</body>
</html>
